//- variables generales del proyecto
-celContact="+57 310 861 46 08"
-empresa='Personeria Municipal de Pitalito'
-pages=['Inicio','La Personería', 'Atención al ciudadano', 'Informes y Publicaciones', 'Contrataciones', 'Dependencias', 'Registro']
-sites=['#Inicio','#La Personería', '#Atención al ciudadano', '#Informes y Publicaciones', '#Contrataciones', '#Dependencias', '#Registro']
//- -services=['sitiosWeb', 'apps', 'motionGraphics', 'animacion']
//- -serviceSites=['manada.html', 'tropa.html', 'comunidad.html', 'clan.html']
//- -servicesImg=['manada.png', 'images/tropa.png', 'images/comunidad.png', 'images/clan.png']
-pageTitle='Gestion con compromiso social'
-siteTitle= empresa
-description=''
-sizeImgServices=300
