//- variables generales del proyecto
-celContact="+57 310 861 46 08"
-empresa='Creaando Studio'
-pages=['Inicio', 'Quienes Somos', 'Que Hacemos', 'Quienes lo Hacen', 'Contacto']
-sites=['#inicio', '#somos', '#hacemos', '#equipo', '#contacto']
//- -services=['sitiosWeb', 'apps', 'motionGraphics', 'animacion']
//- -serviceSites=['manada.html', 'tropa.html', 'comunidad.html', 'clan.html']
//- -servicesImg=['manada.png', 'images/tropa.png', 'images/comunidad.png', 'images/clan.png']
-pageTitle='Soluciones Efectivas'
-siteTitle= empresa
-description=''
-sizeImgServices=300
